<div class="container">
  <h1><em><%= @user.email %></em></h1>
  <div class="col-md-6">
    <ul class="list-group list-group-flush">
      <%= render(partial: 'items/item', collection: @items) || "You have no ToDos." %>
    </ul>
  </div>
  <div class="container">
    <%= render partial: 'items/form' %>
  </div>
</div>
